body{
    background-color: rgb(138, 131, 231);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

main{
    margin: 20px 0;
    text-align: center;
    max-width: 90%;
}

button{
    background-color: rgb(88, 216, 233);
    font-size: 22px;
    padding: 4px;
    border-radius: 10px;
    margin: 5px;
    color: rgb(174, 83, 226);
    box-shadow: 2px 2px 5px black;
}
button:hover{
    background-color: black;
    box-shadow: none;
    transition: 0.5s;
}

.passo{
    display: none;
}

.passo.ativo{
    display: block;
}